body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 3rem;
}
.playingButtonsContainer {
  display: flex;
  gap: 1rem;
  min-width: 60%;
}
.playingButton {
  flex-basis: 30%;
  flex-shrink: 1;
  flex-grow: 1;
  background-color: paleturquoise;
  padding: 1rem 0.5rem;
  border: none;
  text-transform: uppercase;
}
.playingButton:hover {
  outline: 3px solid black;
}
.playingButton:active {
  outline: none;
  background-color: chartreuse;
}
